/*@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');*/

@font-face {
    font-family: LEDCalculator;
    src: url("/assets/fonts/LEDCalculator.ttf");
}

.p5Canvas {
  opacity: 0;
}

body{
    margin: 1em 5em 1em 5em;
    padding:0;
    background-color: rgb(0, 0, 0);
    overflow-y: hidden;
}

p {
    color: rgb(0,255,0);
    margin-top: 0; 
    margin-bottom: 0;
    line-height: 1;
    font-size: 20px;
}

h1 {
    color: rgb(0,255,0);
    margin-top: 0; 
    margin-bottom: 0;
    line-height: 1;
    font-size: 75px;
}

#video {
    width: 240px;
    height: 180px;
}

.freccia {
    position: relative;
}

.freccia span {
    position: absolute;
    bottom: 0;
    right: 0;
}

.quadro {
    height: 246px;
    width: 250px;
}

.griglia {
    max-width: 100vw;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-column-gap: 0em;
    grid-gap: 0px;
    column-gap: 1em;
    grid-row-gap: 0em;
    margin-bottom: 3em;
}

.griglia2 {
    max-width: 100vw;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 0em;
    grid-gap: 0px;
    column-gap: 0em;
    grid-row-gap: 0em;
    margin-bottom: 1em;
}

div {
    margin: 0px;
}

.cella {
    font-family: LEDCalculator, monospace;
    color: white;
    margin: 0px;
    padding: 0px;
    border: 0px solid red;
}

.cellaverde {
    font-family: LEDCalculator, monospace;
    color: white;
    margin: 0px;
    padding: 0px;
    border: 3px solid;
    border-color: rgb(0, 255, 0);
}

.doppia {
    grid-column: span 2;
}
.tripla {
    grid-column: span 3;
}
.quadrupla {
    grid-column: span 4;
}

.quintupla {
    grid-column: span 5;
}

.settupla {
    grid-column: span 7;
}

.sestupla {
    grid-column: span 6;
}

.nonupla {
    grid-column: span 9;
}

.bottone{
    margin-top: 20px;
    width: 75px;
    height: 22px;
    display: block;
    overflow: hidden;
    cursor: pointer;
}

.tutta {
    grid-column: span 12;
}

.nascosto {
    display: none;
}
    
.comparsa:hover + .nascosto {
    display: block;
    color: rgb(255, 255, 255);
}

button:hover{
    background-color: rgb(0, 255, 0);
    color: rgb(0, 0, 0);
}

button{
    color: rgb(0, 255, 0);
    font-family: LEDCalculator;
    font-size: 40px;
    background-color: rgb(0, 0, 0);
    height: 250px;
    width: 250px;
    border-radius: 125px;
    border: 3px solid;
    border-color: rgb(0, 255, 0);
    z-index:10;
}

textarea{
    color: white;
    font-family: LEDCalculator;
    width: 100%;
    height: 10em;
    font-size: 16px;
    padding: 0;
    background-color: rgb(0, 0, 0);
    border: 0.25px solid rgb(255, 255, 255)
}